.UserList a {
	font-weight:bold;
}

.UserList div {
	font-size:80%;
	margin-bottom:10px;
}

.char11 {
	margin-left: -1px;
}
.char12 {
	margin-left: -1px;
}
.char17 {
	margin-left: -4px;
}
.char20 {
	margin-left: -2px;
}
