.UserList a {
	font-weight:bold;
}

.UserList div {
	font-size:80%;
	margin-bottom:10px;
}

.char4 {
	margin-left: -2px;
}
.char5 {
	margin-left: -1px;
}
.char6 {
	margin-left: -1px;
}
.char10 {
	margin-left: -4px;
}
.char11 {
	
}
.char13 {
	margin-left: -4px;
}
.char14 {
	margin-left: -1px;
}
.char9 {
	margin-left: 3px;
}