body {
	color:white;
	background:black;
	background-image:url(/img/bg_main.gif);
}

a.Link, span.imageLink a {
	color:white;
}

#Messages {
	position:absolute;
	padding:0;
	border:0;
}

#Users, #MessageForm, #Status {
	position:absolute;
	border:solid 1px #404040;
	padding:0;
	background-color:#111111;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#Users {
	top:10px;
	width:150px;
	overflow-x:hidden;
}

#UsersContainer {
	padding:0;
	margin:4px;
/*	overflow-x:hidden;*/
	width:120px;
}

#RecepientsContainer, #History {
	font-size:7pt;
}

#RecepientsContainer a {
	font-family:arial;
	position:relative;
	top:-4px;
	color:red;
	text-decoration:none;
	margin-left:2px;
}

#MessagesContainer, #Status {
/*	vertical-align:top;*/
	border:solid 1px #404040;
	padding:0;
	margin:0;
	background-color:#111111;
}

#MessagesContainer {
	overflow: auto;
	padding:4px;
	color:#808080;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#AlertContainer {
	position:absolute;
	z-index:200;
	padding:0;
	margin:0;
	border:0;
	background-image:url(/img/dot.gif);
}

#NewRoom, #NEW_ROOM {
	font-size:80%;
}

#NEW_ROOM {
	width:90px;
	margin-bottom:8px;
}

#NewRoom {
	width:120px;
	margin:8px 0 2px 15px;
}

#NewRoom #linkAdd {
	display:block;
	float:right;
	width:16px;
	height:16px;
	background:url(/img/icons/add_to.gif) no-repeat;
}

#NewRoom #AdminOnly {
	color:#FB5C27;
}

#RoomStatus {
	text-align:center;
	color:red;
}

#Wakeups {
	width:120px;
	background-color:#181818;
	border:solid 1px #404040;
	padding:4px;
	margin:4px 16px 4px 4px;
	font-size:7.5pt;
}

#Wakeups h3 {
	padding:0 0 0 32px;
	margin:0;
	background: url(/img/bell.gif) no-repeat;
	height:21px;
	font-size:10pt;
}

#Wakeups a {
}

#pong {
	height:20px;
	width:20px;
	float:right;
	margin:4px;
}

p {
	padding: 0;
	margin: 0;
}

ul.Users {
	padding: 0 0 6px 14px;
	margin:0;
	border:0;
}
ul.Users li {
	list-style:none;
	font-family:'Arial Narrow';
	font-size:9pt;
}

div.Requestors {
	font-size:7pt;
	padding-top:10px;
	border-bottom:solid 1px #404040;
	color:#505050;
	text-align:right;
}

.roomBox span.Count, #Wakeups span.Count {
	position:relative;
	top:-2px;
	font-size:60%;
}



.testArea {
	background-color: black;
}

.roomBox .Usual, .roomBox .Private, .roomBox .Admin {
	font-size:10pt;
	font-weight:bold;
}

.roomBox.Current strong {
	border-bottom:dashed 1px #C42600;
}

.roomBox .Usual {
	color:gold;
}

.roomBox .Locked {
	padding-left:10px;
	background:url(/img/icons/lock.gif) no-repeat;
}

.roomBox .Private {
	color:#C0F256;
	padding-left:10px;
	background:url(/img/icons/dude.gif) no-repeat;
}

.roomBox .Admin {
	color:#FD7C3E;
	padding-left:16px;
	background:url(/img/icons/stop.gif) no-repeat;
}

/* Messages */
p.me {
	font-style:italic;
}
p.System {
	font-family:'arial narrow';
	color:white;
}

p.System span.Time {
	font-size:60%;
	font-weight:bold;
	background-color:#E9AA50;
	color:black;
	padding:0 2px;
	margin: 0 2px;
}

p.System span.Time.Green {
	background: url(/img/enter_bg.gif) no-repeat right center;
	padding:0 4px 0 2px;
	margin: 0 0 0 2px;
}

p.System span.Time.Red {
	background: url(/img/quit_bg.gif) no-repeat left center;
	padding:0 2px 0 4px;
	margin: 0 2px 0 0;
}

p.SystemPrivate {
	font-family:'arial narrow';
	color:#FF968E;
}

p.SystemPrivate span.Time {
	font-size:60%;
	font-weight:bold;
	background-color:#D20000;
	color:black;
	padding:0 2px 0 2px;
}


p.Private a {
	color:#A80F89;
	font-weight:bold;
}

p a {
	color:inherit;
	color: expression(
	   this.parentNode.currentStyle ? 
	   this.parentNode.currentStyle.color : 
	   'yellow');
}

p strong {
	font-weight:normal;
	color:white;
	background-color:#404040;
	padding: 0 2px 0 2px;
}

/* User Statuses */
.Users a.Away {
	color:#808080;
	font-style:italic;
}
.Users a.Banned {
	color:red;
}
.Users a.IgnoresMe {
	border-left: solid 2px red;
	padding-left:2px;
}
.Users span.Ignored {
	text-decoration:line-through;
	color:red;
}
.Users a.Requestor {
	padding-left:12px;
	background:url(/img/flash_point.gif) no-repeat;
}

/* Menu */
#MenuContainer {
	height:8px;
	margin:4px 0 0 4px;
}

#MenuContainer ul, #MenuContainer li {
	z-index:150;
	padding:0;
	margin:0;
	border:0;
}
#MenuContainer ul {
	border:solid 1px #404040;
	position:absolute;
}
#MenuContainer li {
	position:relative;
	width:100px;
	height:16px;
	list-style:none;
	display:block;
	font: 8pt 'Arial';
	background-color:white;
}

#MenuContainer li.Selected {
	background-color:orange;
}

#MenuContainer li ul {
	left:100px;
	top:-1px;
}
#MenuContainer li a {
	display:block;
	padding:0 0 0 4px;
	margin:0;
	color:black;
}

/* User Menu Container */
.UserInfo {
	position:absolute;
	width:100px;
	padding:0px;
	margin-top:4px;
	color:black;
	background-color:white;
	border:solid 1px #404040;
	overflow:hidden;
}
.UserInfo ul {
	padding:0;
	margin:0;
}
.UserInfo ul li {
	display:block;
	list-style:none;
	font: 8pt 'Arial';
}
.UserInfo li a, .UserInfo li span  {
	display:block;
	padding:0 0 0 4px;
	height:16px;
	color:black;
}
.UserInfo li a:hover {
	background-color:orange;
}

.UserInfo ul li.IP {
	font-size:6pt;
	padding-left:4px;
}

.UserInfo ul li.Grant {
	background-color:#D8FF2B;
}

.UserInfo ul li.Deny {
	background-color:#FFC6A2;
}


.Overlined {
	border-top:dotted 1px #808080;
}
a.UnlockLink {
	font-size:7pt;
	color:red;
	display:block;
	float:right;
	padding-right:2px;
	text-decoration:none;
}

/* Change Nickname list */
.NamesList {
	text-align:left;
	list-style:none;
	padding:0;
	margin:0;
}

.NamesList li {
	padding-left:20px;
}

.NamesList span {
	padding-left:6px;
}
.NamesList .NewNick {
	font-size:10pt;
	width:250px;
	padding:0;
	margin:0;
	margin-right:6px;
}

div.Status {
	padding-top:20px;
	color:lime;
}

.Status li {
	margin-left:40px;
	text-align:left;
	list-style:square;
	color:red;
}

/* Additional Alerts */
div.Achtung {
	background-color:white;
	color: red;
	background-image:url(/img/warning_bg.gif);
	padding:10px 0 10px 0;
	margin:10px;
}

div.Achtung span {
	display:block;
	background-color:white;
	padding:20px;
	color:#ed450a;
	font-weight:bold;
	text-align:center;
}

/* Panels */

.PanelLeft, .PanelRight {
	height:100%;
/*	position:absolute;*/
	top:0;
	left:0;
	margin:0;
	padding:0;
	border:0;
}

a.PanelLeft, a.PanelRight {
	display:block;
	width:10px;
	height:100%;
	padding:0;
	border:0;
	margin:0;
}

a.PanelLeft {
	float:right;
}

a.PanelRight {
	float:left;
}

a.PanelLeft.Closed, a.PanelRight.Opened  {
	background:url(/img/icons/right_horiz.gif) no-repeat 0 50%;
}

a.PanelRight.Closed, a.PanelLeft.Opened  {
	background:url(/img/icons/left_horiz.gif) no-repeat 0 50%;
}

/* Panels */


ul.Kicked {
	margin:0;
	padding:0;
	list-style-type:none;
}

ul.StatusLinks {
	list-style:none;
	margin:0 0 0 150px;
	padding:6px 0 0 0;
	position:absolute;
}

ul.StatusLinks li {
	display:inline;
	margin-right:10px;
}

ul.StatusLinks li a {
	color:gold;
}

ul.StatusLinks li a.Red {
	color:red;
}

.ServiceLinks {
	text-align: right;
}

.ServiceLinks a {
	margin: 0 4px;
}

#Smiles div { 
	display: none;
	position: absolute;
}

#Smiles div img { 
	padding: 2px;
}

#Smiles.On div { 
	display: block;
	padding: 4px;
	position: relative;
	height: 100px;
	border: solid 1px #808080;
	background-color: #111111;
	overflow-y: scroll;
	left: 0;
}

.Layout0 #Smiles.On div, .Layout1 #Smiles.On div { 
	top: 0;
}

.Layout2 #Smiles.On div, .Layout3 #Smiles.On div { 
	position: absolute;
	bottom: 80px;
	left: 30px;
	width:85%;
}