h1, h2, h3, h4 , h5 {
    font-family: "bezumnoe2", "arial";
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

h3 {
    margin-bottom:5px;
}

h3, h3 a {
    font-size:12pt;
    color:#FB8C00;
}

h4 {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 4px;
    margin: 0;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 12px;
    margin: 6px 0 4px 0;
}

sup {
    color:red;
}

.MainLeft {
}

.MainRight {
}

.Main {
    text-align: left;
    width: 720px;
    /*width: 900px;*/
}

/* Aligned Columns */

.Left {
    float: left;
}

.Right {
    float: right;
}

.Column {
    /*height: 800px;*/
}

.Column.Left {
    width: 140px;
}

.Column.Left h5 {
    font-weight: normal;
    padding:0;
    margin: 20px 0 10px 0;
    text-align: center;
}

.Column.Center {
    float: left;
    width: 360px;
    /*width: 550px;*/
    padding: 0 4px 0 4px;
}

.Column.Right {
    width: 187px;
    text-align: center;
}

.main_links p {
    margin-top: 0;
    text-align: left;
}

.main_links .register,
.main_links .gallery {
    text-align: left;
    margin-top: 1px;
    padding-top: 25px;
    clear: both;
    background: url(/img/t/div1.gif) repeat-x top left;
}
.main_links .register img,
.main_links .gallery img {
    float: left;
    padding: 0 10px 10px 10px;
}

.main_links .forum,
.main_links .blogs {
    text-align: right;
    margin-top: 1px;
    padding-top: 25px;
    clear: both;
    background: url(/img/t/div2.gif) repeat-x top left;
}

.main_links .forum img,
.main_links .blogs img {
    float: right;
    padding: 0 0 10px 10px;
}

.MainLink h4 {
    font-family: "bezumnoe2", "arial";
    font-weight: normal;
    font-size: 40px;
    padding: 0 4px;
    display: inline;
    color: 0;
    -webkit-text-stroke: 0.35px;
}

.MainLink a.NoBorder {
    color: #000;
}


/* Pages Layout */


/* Formatting */
.Centered {
    text-align: center;
}

.Red {
    color: red;
}

.New {
    font-style: italic;
    padding: 0 2 0 4;
}

.Super {
    position: relative;
    top: -3;
    font-size: 7pt;
}

.Sub {
    position: relative;
    top: 3;
    font-size: 7pt;
}

.Bordered {
    border: solid 1px red;
}

.Small {
    font-size: 8pt;
}

.Smallest {
    font-size: 7pt;
}

.Separated {
    padding-bottom: 16px;
}

/* Formatting */

ul.Menu {
    padding-left:40px;
    font-size:103%;
}

li.Inactive a {
    color:#A0A0A0;
}

.Blogs ul {
    text-align: left;
    padding-left:30px;
}

.FormTitle {
    padding-right:8px;
    text-align:right;
}


.welcome h1 {
    font-size: 16px;
    margin: 4px 0 20px 0;
}

.gallery_comments div img {
    border: solid 4px #D0D0D0;
    background-color: #D0D0D0;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

ul.new_posts > li > a:first-child {
    font-weight: 700;
}

ul.new_posts a.Private {
    font-style: italic;
    color: #DD4B0D;
}

ul.new_comments > li {
    list-style: none;
}

.new_comments > li > a {
    display: block;
    text-align:center;
    border: none;
}

.new_comments img {
    border: solid 6px #D0D0D0;
    background-color: #D0D0D0;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.users_online span {
    font-size: 80%;
    color: #555;
    font-weight: 100;
}

.news ul li {
    list-style: none;
    padding: 0 0 10px 0;
}

.news span {
    color: #555;
    font-size: 80%;
    display: block;
}

.photos .preview {
    text-align: center;
    margin-top: 10px;
}

.photos .preview img {
    border: solid 6px #DDD;
    background-color: #DDD;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.photos .preview a {
    clear:both;
}

.auth_form label {
    display: none;
}

.auth_form input {
    margin: 4px 0;
    clear: both;
}

.auth_form input[type="text"],
.auth_form input[type="password"] {
    width: 100px;
}

.authenticated {
    width: 75%;
    border: solid 1px darkorange;
    padding:6px;
    margin: 0 auto;
    font-size: 80%;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.main_menu {
    text-align: left;
    padding: 20px 0 0 40px;
}

.main_menu ul li {
    padding-bottom: 4px;
}

.main_menu ul li:first-child {
    margin-bottom: 10px;
}

.main_menu a {
    color: black;
    font-weight: 700;
}

.counters {
    text-align:center;
    margin-top:8px;
}
