h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
}

h3 {
	margin-bottom:5px;
}

h3, h3 a {
	font-size:12pt;
	color:#FB8C00;
}

sup {
	color:red;
}

.MainLeft {
}

.MainRight {
}

.Main {
	text-align: left;
	width: 720px;
	/*width: 900px;*/
}

/* Aligned Columns */

.Left {
	float: left;
}

.Right {
	float: right;
}

.Column {
	/*height: 800px;*/
}

.Column.Left {
	width: 140px;
}

.Column.Left h5 {
	font-family: "bezumnoe2", "arial";
	font-weight: normal;
	color: 0;
	padding:0;
	margin: 20px 0 5px 0;
	text-align: center;
	-webkit-text-stroke: 0.25px;
}

.Column.Left .UserList h5 {
	font-size: 16px;
}

.Column.Left .News h5 {
	font-size: 22px;
	color: orangered;
}

.Column.Left .Birthdays h5 {
	font-size: 17px;
	color: orangered;
}

.Column.Center {
	float: left;
	width: 360px;
	/*width: 550px;*/
	padding: 0 4px 0 4px;
}

.Column.Right {
	width: 187px;
	text-align: center;
}

.UserList {
	text-align: left;
}

.MainLink {
	text-align: left;
	margin-top: 1px;
	padding-top: 25px;
	clear: both;
	background: url(/img/t/div1.gif) repeat-x top left;
}

.MainLink p {
	margin-top:0;
}

.MainLink.RightOriented {
	text-align: right;
	background: url(/img/t/div2.gif) repeat-x top left;
}

.MainLink h4 {
	font-family: "bezumnoe2", "arial";
	font-weight: normal;
	font-size: 40px;
	padding: 0 4px;
	display: inline;
	color: 0;
	-webkit-text-stroke: 0.35px;
}

.MainLink a.NoBorder {
	color: #000;
}

.MainLink.Blogs h4 {
	font-size: 34px;
	color: red;
}

.MainLink.Register h4 {
	color: #DD4B0D;
	text-shadow:2px 2px 0px #FCA601;
	font-size: 42px;
}

.Welcome {
	ttext-align: justify;
}

.Auth {
	text-align:center;
	font-size:80%;
	border:solid 1px #D0D0D0;
	background-color:#FFF0F0;
	padding:4px;
	margin-bottom:10px
}

.Counters {
	text-align:center;
	margin-top:8px;
}
/* Pages Layout */


/* Formatting */
.Centered {
	text-align: center;
}

.Red {
	color: red;
}

.New {
	font-style: italic;
	padding: 0 2 0 4;
}

.Super {
	position: relative;
	top: -3;
	font-size: 7pt;
}

.Sub {
	position: relative;
	top: 3;
	font-size: 7pt;
}

.Bordered {
	border: solid 1px red;
}

.Small {
	font-size: 8pt;
}

.Smallest {
	font-size: 7pt;
}

.Separated {
	padding-bottom: 16px;
}

/* Formatting */

ul.Menu {
	padding-left:40px;
	font-size:103%;
}

li.Inactive a {
	color:#A0A0A0;
}

.News ul {
	padding-left:0;
	list-style:none;
	margin:5px 0 0 0;
	font-size:90%;
}

.News ul li {
	margin-top:7px;
}

.News h4 {
	margin:0;
	font-size:8pt;
}

.News h4 span {
	color:red;
	font-weight:normal;
	font-size:80%;
}

.Blogs ul {
	text-align: left;
	padding-left:30px;
}

.FormTitle {
	padding-right:8px;
	text-align:right;
}

.Birthdays h4 {
	margin: 5px 0 0 0;
	font-size:10pt;
}

.Photos .Centered {
	font-size:7pt;
	padding-top:8px;
}

.Photos .Centered img, .NewComments div img {
	border: solid 4px #D0D0D0;
	background-color: #D0D0D0;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.Newcomers a {
	font-weight:bold;
}