h4 {
	font-family:'Arial Narrow';
	font-size:12.5pt;
	padding:0;
	margin:10px 0 0 0;
}

h4 .Count {
	position:relative;
	top:-4px;
	left:4px;
	font-size:8pt;
	font-weight:normal;
}

h4.Hidden {
	text-decoration:none;
	padding-left:18px;
	background:url(/img/icons/forum_lock.gif) no-repeat;
}

h4.Hidden a {
	color:red;
}

h4.Mandatory {
	display:inline;
	clear:both;
}


ul li {
	list-style:none;
}

ul.Forums, ul.Threads, ul.Thread {
	padding:0;
	margin:20px 0;
}

label {
	border-bottom:dashed 1px #404040;
	cursor:pointer;
	cursor:hand;
}

#AuthByLogin {
	margin:4px 0 10px 24px;
	font-size:90%;
}

.Counts {
	font-size:8pt;
}

ul.Thread ul {
	padding:0;
	margin:0 0 0 20px;
}

ul.Thread table {
	width:100%;
	background-color:#eee;
	border-top:solid 1px #aaa;
	margin:4px 0;
	padding:4px;
}

ul.Thread th {
	width:1%;
}

ul.Thread th {
	vertical-align:top;
}

ul.Thread h4 {
	margin:0;
}

ul.Thread img {
	margin-right:4px;
}

ul.Thread table.Protected {
	background-color:#FFE0E0;
}

.Protected {
	color:#880000;
}

ul.Threads li.Protected a {
	color:red;
}

.Hidden table, .Hidden div.Content, li.Hidden {
	text-decoration:line-through;
}

.Hidden #replyLink {
	display:none;
}

.Recent {
	font-weight:bold;
}

ul.Thread table.Recent h4 {
	color:red;
}

cite {
	display:block;
	margin:2px 2px;
	padding:8px;
}

cite {
	background-color:#eee;
}
cite cite {
	background-color:#ddd;
}
cite cite cite {
	background-color:#ccc;
}

.Pager {
	width: 80%;
	text-align:center;
	margin: 4px auto;
	padding:4px;
	border: solid 1px #aaa;
	background-color:#eee;
	color: #ccc;
}

.Pager h4 {
	color:black;
	padding:0;
	margin:0;
	font-size:9.5pt;
}

.Pager strong {
	color:red;
	font-weight:bold;
	/*border-left: solid 1px #e0e0e0;*/
	padding:0 4px;
	margin:0;
}

.Pager a {
	/*border-left: solid 1px #e0e0e0;*/
	padding:0 4px;
	margin:0;
}

.Pager .Sided  {
	border-left: 0;
}

.NewThread {
	margin:10px 0;
}

.NewThread a {
	font-weight:bold;
}

.NewThread #buttonCite {
	display:none;
}

.NewComments ul {
	padding:0;
	margin:0 0 6px 0;
}

.NewComments ul li {
	margin-left:20px;
	font-size:80%;
}

.NewComments div {
	text-align:center;
}

.NewComments div img {
	border: solid 6px #D0D0D0;
	background-color: #D0D0D0;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}



/* Types */

.Friends  {
	font-style:italic;
}

.Private {
	font-weight:bold;
	color:red;
}

.Hidden {
	color:red;
}

/* Gallery */

/* Types */

.Preview {
	width:700px;
	margin: 30px auto;
	clear:both;
}

.Preview td {
	vertical-align:top;
	text-align:center;
}

.Preview td img, #Photo img {
	border: solid 6px #D0D0D0;
	background-color: #D0D0D0;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.Preview td p {
	padding:0;
	margin:0;
	font-size:8pt;
}

#Photo {
	margin-top:10px;
	text-align:center;
}

#Photo div.Previous {
	width: 20px;
	float: left;
	background: url(/img/t/previous.gif) no-repeat center left;
}

#Photo div.Next {
	width: 20px;
	float: right;
	background: url(/img/t/next.gif) no-repeat center right;
}