
h4 {
	font-family:'Arial Narrow';
	font-size:12.5pt;
	padding:0;
	margin:10px 0 0 0;
}

h4 .Count {
	position:relative;
	top:-4px;
	left:4px;
	font-size:8pt;
	font-weight:normal;
}

h4.Hidden {
	text-decoration:none;
	padding-left:18px;
	background:url(/3/img/icons/forum_lock.gif) no-repeat;
}

h4.Hidden a {
	color:red;
}


ul li {
	list-style:none;
}

ul.Forums, ul.Threads, ul.Thread {
	padding:0;
	margin:20px 0;
}

.Counts {
	font-size:8pt;
}

ul.Thread ul {
	padding:0;
	margin:0 0 0 10px;
}

ul.Thread table {
	width:100%;
	background-color:#eee;
	border-top:solid 1px #aaa;
	margin:4px 0;
	padding:4px;
}

ul.Thread th {
	width:1%;
}

ul.Thread th {
	vertical-align:top;
}

ul.Thread h4 {
	margin:0;
}

ul.Thread img {
	margin-right:4px;
}

ul.Thread table.Protected {
	background-color:#FFE0E0;
}

.Protected {
	color:#880000;
}

ul.Threads li.Protected a {
	color:red;
}

.Hidden table, .Hidden div.Content, li.Hidden {
	text-decoration:line-through;
}

.Hidden #replyLink {
	display:none;
}

.Recent {
	font-weight:bold;
}

ul.Thread table.Recent h4 {
	color:red;
}

cite {
	display:block;
	margin:2px 2px;
	padding:8px;
}

cite {
	background-color:#eee;
}
cite cite {
	background-color:#ddd;
}
cite cite cite {
	background-color:#ccc;
}

.Pager {
	width: 80%;
	text-align:center;
	margin: 0 auto;
	padding:4px;
	border: solid 1px #aaa;
	background-color:#eee;
	color: #ccc;
}

.Pager h4 {
	color:black;
	padding:0;
	margin:0;
	font-size:9.5pt;
}

.Pager strong {
	color:red;
	font-weight:bold;
}

.NewThread {
	margin:10px 0;
}

.NewThread a {
	font-weight:bold;
}

.NewThread #buttonCite {
	display:none;
}

ul.Comments {
	padding:0;
	margin:0 0 6px 0;
}

ul.Comments li {
	margin-left:20px;
	font-size:80%;
}



/* Types */

.Friends  {
	font-style:italic;
}

.Private {
	font-weight:bold;
	color:red;
}

.Hidden {
	color:red;
}

.Preview {
	width:700px;
	margin: 30px auto;
	clear:both;
}

.Preview td {
	vertical-align:top;
	text-align:center;
}

.Preview td img {
	border: solid 4px #E0E0E0;
}

.Preview td p {
	padding:0;
	margin:0;
	font-size:8pt;
}
