@font-face {
  font-family: 'bezumnoe2';
  src: url('/fonts/bezumnoe3.eot');
  src: url('/fonts/bezumnoe3.eot?') format('embedded-opentype'),
       url('/fonts/bezumnoe3.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

body {
	color: #FFF;
	background: #000;
	background-image:url(/img/bg_main.gif);
	padding:8px;
}

h1 {
	font-family: "bezumnoe2";
	color:#F0D71C;
	font-size: 40px;
	margin:0;
}

h4 {
	font-weight:normal;
	padding:0;
	margin:4px 0 8px 0;
}

h6 {
	font-size: 11px;
	margin-top: 10px;
}

strong {
	color: #FFF;
}

#InfoContainer {
	position:absolute;
}

#InfoContent {
	border: solid 1px #444;
	padding: 8px;
	background-color: #111;
	overflow:auto;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

img.photo {
	margin: 0 8px 8px 0;
	border: solid 6px #444;
	background-color: #444;
	float:left;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

section {
	padding: 4px 4px 10px 4px;
	font-size: 14px;
}

section h6 {
	display:block;
	font-weight:bold;
	font-size:80%;
	color:#F2B259;
	margin: 0;
}