body {
	color:white;
	background:black;
	background-image:url(/img/bg_main.gif);
	padding:8px;
}

h1 {
	color:#F0D71C;
	font-size:14pt;
	margin:0;
}

h4 {
	font-weight:normal;
	padding:0;
	margin:4px 0 8px 0;
}

strong {
	color:white;
}

#InfoContainer {
	position:absolute;
}

#InfoContent {
	border:solid 1px #404040;
	padding:4px;
	background-color:#111111;
	overflow:auto;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

img.Photo {
	margin:8px;
	border:solid 4px #404040;
	float:left;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

div.InfoSection {
	padding:4px;
	font-size:90%;
}

label {
	display:block;
	font-weight:bold;
	font-size:80%;
	color:#F2B259;
}