h1, h2 {
    font-size: 120px;
    line-height: 100px;
}

h2 {
    font-size: 100px;
    font-family: 'bezumnoe2', 'Neucha', 'Arial Narrow',arial;
}

h1 .char1 {
    display: inline-block;
    position: relative;
    top: 39px;
    font-size: 154%;
}
h1 .char2 {
    margin-left: -35px;
    display: inline-block;
    position: relative;
    top: 57px;
}
h1 .char3 {
    margin-left: -6px;
    display: inline-block;
    position: relative;
    top: 37px;
    font-size: 131%;
}
h1 .char4 {
    display: inline-block;
    position: relative;
    top: 29px;
}
h1 .char5 {
    margin-left: -17px;
    display: inline-block;
    position: relative;
    top: 53px;
    font-size: 82%;
}
h1 .char6 {
    margin-left: -6px;
    display: inline-block;
    position: relative;
    top: 47px;
    font-size: 118%;
}
h1 .char7 {
    margin-left: -9px;
    display: inline-block;
    position: relative;
    top: 55px;
    font-size: 107%;
}
h1 .char8 {
    margin-left: -5px;
    display: inline-block;
    position: relative;
    top: 40px;
    font-size: 128%;
}
h1 .char9 {
    
}
h1 .char10 {
    margin-left: 52px;
    display: inline-block;
    position: relative;
    top: 56px;
    font-size: 149%;
}
h1 .char11 {
    margin-left: -5px;
    display: inline-block;
    position: relative;
    top: 13px;
    font-size: 87%;
}
h1 .char12 {
    display: inline-block;
    position: relative;
    top: 41px;
    font-size: 121%;
}
h1 .char13 {
    margin-left: -2px;
    display: inline-block;
    position: relative;
    top: 47px;
    font-size: 72%;
}
h1 .char14 {
    display: inline-block;
    position: relative;
    top: 33px;
    font-size: 77%;
}
h1 .char15 {
    margin-left: -18px;
    display: inline-block;
    position: relative;
    top: 37px;
    font-size: 139%;
}
h1 .char16 {
    margin-left: -13px;
    display: inline-block;
    position: relative;
    top: 47px;
    font-size: 111%;
}
h1 .char17 {
    margin-left: -2px;
    display: inline-block;
    position: relative;
    top: 48px;
    font-size: 129%;
}