body {
	color:white;
	background:black;
	background-image:url(/img/bg_main.gif);
	padding:8px;
}

h1 {
	color:#F0D71C;
	font-size:12pt;
	margin:0;
	padding:0;
}

h2 {
	font-size:10pt;
	margin:0;
	padding:0;
}

h3 {
	font-size:8.5pt;
	margin:0;
	padding:0;
	font-style:italic;
}

h4 {
	display:block;
	font-weight:bold;
	font-size:80%;
	color:#F2B259;
	margin:0;
	padding:0;
	margin-top:6px;
}

label {
	border-bottom:dashed 1px #404040;
	cursor:pointer;
	cursor:hand;
}

td, th {
	vertical-align:top;
}

th {
	font-size:10pt;
/*	width:20%;*/
}

select, textarea, .Wide {
	width:100%;
}

strong {
	color:white;
}

a.Link, span.imageLink a {
	color:white;
}

#OptionsContainer {
	position:absolute;
}

#OptionsContent {
	border:solid 1px #404040;
	padding:4px;
	background-color:#111111;
	overflow:auto;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#AlertContainer {
	position:absolute;
	z-index:200;
	padding:0;
	margin:0;
	border:0;
	background-image:url(/img/dot.gif);
}

#AlertContainer td {
	vertical-align:middle;
}

.Comments {
	width:25%;
	font-size:8pt;
}

img.Photo {
	margin:4px;
	border:solid 6px #404040;
	background-color:#404040;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.AlertsHolder {
	padding:0;
	margin:0;
	text-align:center;
}

.AlertsContainer {
	background-color:#E9B649;
	color:black;
	margin:10px 20%;
	padding:4px 40px;
	text-align:left;
}
.AlertsContainer p {
	font-weight:bold;
	margin:0;
	display:block;
}

.AlertsContainer ul {
	margin:0 0 4px 0;
	padding:0;
}

.AlertsContainer ul li {
	list-style:square;
}

.AlertsContainer p.Error, ul#Errors li {
	color:red;
}

p.Note {
	padding:0;
	margin:0;
	font-size:8pt;
	color:#808080;
	font-family:"Arial Narrow";
}

#fontExample {
	border: solid 1px #404040;
	margin-top:2px;
	padding:8px;
	background-color:#202020;
}
#fontExample p {
	padding: 10px 0 0 0;
	margin:0;
}

#AdminSection {
	padding: 4px;
	background-color:#181818;
	border:solid 1px #404040;
}

#AdminSection table {
	width:98%;
	margin:0 auto;
}

#COMMENT {
	font-size:80%;
}

#BanStatus {
	font-size:8pt;
	color:orangered;
}
ul#UsersContainer li a b {
	color:white;
}
#STATUS_ID {
	background-color:#111111;
	color:white;
}

/* Journal Messages */
table.Wide {
	width:98%;
}

table.Grid {
	width:98%;
	border-top:solid 1px #505050;
	border-left:solid 1px #505050;
	margin:4px auto;
}

table.Grid tr {
	background-color:#303030;
}

table.Grid tr.Warning {
	background-color:#403030;
}

table.Grid tr.Error {
	background-color:#800000;
}

table.Grid tr.Incoming {
	background-color:#201000;
}

table.Grid tr.Outgoing {
	background-color:#102000;
}

table.Grid tr.Dark {
	background-color:#202020;
}

table.Grid tr.Dark.Warning {
	background-color:#302020;
}

table.Grid tr.Dark.Error {
	background-color:#600000;
}

table.Grid tr.Dark.Incoming {
	background-color:#301000;
}

table.Grid tr.Dark.Outgoing {
	background-color:#103000;
}

table.Grid tr.Highlight td {
	font-style:italic;
}

table.Grid tr.Error td {
	color:white;
}

table.Grid th, table.Grid td {
	border-bottom:solid 1px #505050;
	border-right:solid 1px #505050;
	font-size:8pt;
	padding:4px;
}

table.Grid th {
	color:white;
	background-color:#F3771F;
	text-align:center;
}

table.Grid tr.Sub th {
	background-color:#503800;
}

#MessagesGrid h2 {
	font-size:10pt;
	padding:0;
	margin:0;
}

#MessagesGrid h2.Private {
	color:#FF472B;
	padding-left:26px;
	background:url(/img/icons/eye.gif) no-repeat;
}

#MessagesGrid h2.Friends {
	color:#BAF31F;
	padding-left:26px;
	background:url(/img/icons/friends.gif) no-repeat;
}
/* Journal Messages End */

/* Journal Templates */

#templates textarea {
	font-family:"Lucida Console",System,Courier;
	font-size:9pt;
	width:100%;
	height:50px;
}

textarea.Maximized, #templates textarea.Maximized {
	height:300px;
}

/* Journal Templates End */


#CommentsGrid span {
	font-size:9pt;
	padding:0;
	margin:0;
}

#CommentsGrid div {
	padding: 4px 0 0 50px;
	text-align:right;
}

#CommentsGrid tr.Hidden h2, #CommentsGrid tr.Hidden span {
	font-style:italic;
	color:#FCEC73;
}

#CommentsGrid tr.Deleted td {
	text-decoration:line-through;
	background-color:#651313;
}

#FRAMESET img {
	display:block;
	margin:0 auto;
}

.StatusColor {
	float:left;
	width:16px;
	height:10px;
	border:solid 1px black;
	padding:0;
	margin:0 4px;
}
.NewsDescription {
	height:70px;
	margin-top:4px;
}

/* User manager table */

#UsersContainer a {
	font-weight:bold;
	color:white;
}

#UsersContainer a.Opened, #UsersContainer a.Closed {
	display:block;
	padding-left:20px;
}

#UsersContainer a.Opened {
	background: url(/img/icons/opened_nopad.gif) no-repeat;
}

#UsersContainer a.Closed {
	background: url(/img/icons/closed_nopad.gif) no-repeat;
}

#UsersContainer a b, #MessagesLogGrid td b {
	background-color:#505050;
}
#UsersContainer ul, ul.Custom, ul#Errors {
	list-style-image: url(/img/li_small_yellow.gif);
	padding-left:20px;
	margin-top:2px;
}

#UsersContainer ul a {
	font-weight:normal;
	color:#EEEEEE;
	/*color:#FFD446;*/
}

table.UserMenu, table.UserMenu tr, table.UserMenu td {
	border:0;
	background:none;
}

/* Journal access - add user */

#FOUND_USERS ul {
	background-color:#404040;
	list-style-type:none;
	padding:0;
	margin:0;
	border:solid 1px #505050;
	border-top:0;
}

#FOUND_USERS ul li.Dark {
	background-color:#303030;
}

#FOUND_USERS ul li {
	font-size:8pt;
	padding:4px 10px;
	border-top:solid 1px #505050;
}

#FOUND_USERS ul li.Journal {
	border:0;
	padding-left:26px;
	font-size:80%;
	background-image: url(/img/li_small_yellow.gif);
	background-repeat: no-repeat;
	background-position: 10px 50%;
}

#FOUND_USERS ul li a {
	float:right;
}

#Selector {
	margin-bottom:20px;
}

/* Hiding logic */

.TabContainer.f #Spoiler2, .TabContainer.g #Spoiler2 {
	display:none;
}

.TabContainer.g #Spoiler3 #gallery {
	display:none;
}

.TabContainer.g #Spoiler3 #forum, .TabContainer.f #Spoiler3 #forum {
	display:none;
}

.TabContainer.f #Spoiler4 li.Journal, .TabContainer.g #Spoiler4 li.Journal {
	display:none;
}

.TabContainer.f #Spoiler4 #FRIENDS, .TabContainer.g #Spoiler4 #FRIENDS {
	display:none;
}

#journal_exists.Not h4#Title, #journal_exists.Not #Selector, 
#journal_exists.Not #Spoiler1, #journal_exists.Not #Spoiler2, #journal_exists.Not #Spoiler4, #journal_exists.Not #Links
{
	display:none;
}

#journal_exists.Yes #no_journals {
	display:none;
}

.TabContainer.f #TYPE2, .TabContainer.g #TYPE2,
.TabContainer.f #TYPE2LABEL, .TabContainer.g #TYPE2LABEL {
	display:none;
}

.Options ul {
	background-color:white;
	border:solid 1px black;
	padding:0;
	margin:0;
	list-style:none;
}

.Options ul li {
	padding:0 4px;
	margin:0;
}

.Options ul li a {
	color:black;
}

table.Grid td.Locked {
	padding-left:12px;
	background:url(/img/icons/lock.gif) no-repeat 2px 2px;
}

table.Grid td.Dude {
	color:#C0F256;
	padding-left:12px;
	background:url(/img/icons/dude.gif) no-repeat 2px 2px;
}

table.Grid td.Deleted {
	color:#C0C0C0;
	font-style:italic;
	text-decoration:line-through;
}

table.Grid td label {
	margin-right: 8px;
}