h4 {
	clear:both;
	font-family: 'bezumnoe2', 'Arial Narrow', 'Arial';
	font-size:12.5pt;
	padding:0;
	margin:20px 0 10px;
	font-weight: normal;
	-webkit-text-stroke: 0.35px;
}

.UserList b a {
	color:orangered;
}

.UserList div {
	font-size:70%;
	margin-bottom:10px;
}

img.Photo {
	border:solid 6px #808080;
	background-color:#808080;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.Centered {
	padding-top:16px;
}

.Centered div {
	margin-bottom:10px;
}

#Symbols a {
	display:block;
	float:left;
	margin-right:4px;
}