h2, h3, .ui-dialog-title {
    font-family:'bezumnoe2','Arial Narrow','Arial';
    font-weight: normal;
    padding: 0;
    margin: 20px 0 10px;
    -webkit-text-stroke: 0.35px;
}

h2 {
    font-size: 20px;
}

table.users_list {
    width: 100%;
}

table.users_list tr > td:first-child {
    width: 30%;
    vertical-align: top;
}

.users_list div {
    padding-bottom: 20px;
}

img.photo {
    border: solid 6px #888;
    background-color: #888;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.Centered {
    padding-top:16px;
}

.Centered div {
    margin-bottom:10px;
}

#Symbols a {
    display:block;
    float:left;
    margin-right:4px;
}