h3 {
	font-size: 14pt;
	-webkit-text-stroke: 0.35px;
}

li.Leading {
	font-weight: bold;
}

li.Leading a {
	color:orangered;
}

.char2 {
	margin-left: -3px;
}
.char6 {
	margin-left: -2px;
}