h2 {
    font-family:'bezumnoe2','Arial Narrow','Arial';
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin: 20px 0 10px;
    -webkit-text-stroke: 0.35px;
}

p {
    margin: 20px 0 0 0;
}

table.rating {
    width: 100%;
}

table.rating td {
    width: 50%;
    vertical-align: top;
    padding: 0 50px;
}

.rating ul li {
    list-style: none;
    margin-bottom: 8px;
}

.rating ul li > span {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.rating ul li > span sup {
    display: inline-block;
    width: 20px;
    text-align: left;
}

.rating ul li:nth-child(-n + 11) {
    font-weight: bold;
}

.Positive {
    color:#00A000;
}

.Negative {
    color:#FF8080;
}


.char2 {
    margin-left: -3px;
}
.char6 {
    margin-left: -2px;
}