table {
	margin-top:10px;
}

th {
	vertical-align:top;
	text-align:right;
	font-size:10pt;
}

.RegData {
	width:100%;
}

.Validator {
	color:red;
}

.Hidden, .Logged {
	display:none;
}

.Tip {
	padding:0 0 4px 8px;
	margin:0;
	font-style:italic;
	color:#808080;
	font-size:7pt;
}

/* Errors summary */

#Summary, ul {
	color:red;
	background-color:#FFEEEE;
	border:solid 1px red;
	margin-top:10px;
	padding:8px;
}

#Summary li, ul li {
	list-style:square;
	margin-left:16px;
	font-size:70%;
}

