body {
	padding :0;
	margin: 0;
	text-align: center;
}

a {
	color: #923200;
	text-decoration:none;
	border-bottom:dashed 1px #ccc;
}

a.Link, span.imageLink a {
	border-bottom:1px dotted orangered;
	color:orangered;
	text-decoration:none;
}

ul {
	margin:0;
	padding:0;
}

h1 {
	color:#FB8C00;
	font-family:'Arial Narrow';
	font-size:18pt;
	padding:10px 0 0 0;
	margin:0;
}

h6 {
	font-size:9pt;
	text-align:center;
	padding:0;
	margin: 5px 0;
	color:#E27603;
}


.News li {
	font-size:8pt;
	padding-bottom:6px;
}

.News h4 {
	font-size:9pt;
	padding:0;
	margin:0;
}

.News h4 span {
	font:8pt 'Arial Narrow';
	font-weight:normal;
}

.Main {
	width:720px;
	margin:0 auto;
	text-align:left;
	padding-bottom: 10px;
}

/* Dividers */

.Divider.Horizontal {
	background-image: url(/img/t/hline.gif);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 18px;
}

.Divider.Horizontal.Normal {
	background-image: url(/img/t/hline.gif);
}

.Divider.Horizontal.Alternative {
	background-image: url(/img/t/hline2.gif);
	height: 20px;
}

.Divider.Vertical {
	background: url(/img/t/vline.gif) repeat-y top left;
	padding-left: 22px;
}

/* Banners */

.Banner {
	text-align: center;
	padding: 4px 0 4px 0;
}

/* Errors summary */

.ErrorHolder {
	color:red;
	border:solid 1px red;
	margin:10px 50px 0;
	padding:8px 8px 8px 70px;
	background: #FFEEEE url(/img/t/attention.gif) no-repeat 10px 4px;
}

.ErrorHolder li {
	list-style:square;
	margin-left:16px;
	font-size:70%;
}

.ErrorHolder h2, .ErrorHolder h3 {
	margin:0;
	padding:0;
}

.Spacer {
	height: 300px;
	clear:both;
}

/* Bottom navigation */
ul.BottomNav {
	text-align:center;
	margin-top:4px;
}

ul.BottomNav li {
	display: inline;
	padding: 0;
}

ul.BottomNav li a {
	border: 0;
	border-left: solid 1px #808080;
	padding: 0 3px 0 5px;
	margin: 0;
}

ul.BottomNav li.First a {
	border: 0;
}

.NewComments div {
	text-align: center;
}

/* Confirmations & Alerts */

#AlertContainer {
	position: absolute;
	z-index: 200;
	padding: 0;
	margin: 0;
	border: 0;
	background-image: url(/img/wdot.gif);
}

#AlertContainer td {
	vertical-align: middle;
}

.ConfirmContainer {
	width:400px;
	background-color:#F0F0F0;
	border:solid 3px #808080;

	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.ConfirmContainer h1 {
	font-size:16pt;
	bbackground-color:#202020;
	padding:4px;
	margin:0 0 10px 0;
}

.ConfirmContainer h4 {
	font-size:12pt;
	padding:4px;
	margin:0;
	color:red;
}

.ConfirmContainer div {
	padding:0 8px 0 8px;
	margin-bottom:10px;
	font-size:10pt;
}

.ConfirmContainer .ConfirmButtons {
	margin-top: 20px;
}

.ConfirmContainer .ConfirmButtons a {
	border: 0;
}

.AuthForm {
	text-align: left;
}

/* OpenID selection styles */

.OpenID a {
	border: 0;
	margin: 0;
	padding: 0;
}

.OpenID a img {
	margin: 0 2px;
	padding: 1px;
	border: 0;
}

.OpenID a.Selected img {
	margin: 0;
	border: solid 2px #FB8C00;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}