body {
	padding:0;
	margin:0 20px;
}

a {
	color: #923200;
	text-decoration:none;
	border-bottom:dashed 1px #ccc;
}

a.Link, span.imageLink a {
	border-bottom:1px dotted orangered;
	color:orangered;
	text-decoration:none;
}

.News li {
	font-size:8pt;
	padding-bottom:6px;
}

.News h4 {
	font-size:9pt;
	padding:0;
	margin:0;
}

.News h4 span {
	font:8pt 'Arial Narrow';
	font-weight:normal;
}