php_flag display_errors off

#XBitHack off
DirectoryIndex index.html index.htm index.php default.php index.phtml default.phtml
Options -Indexes

AddDefaultCharset UTF-8

#Errors

ErrorDocument 404 /404.html
#ErrorDocument 403 /403.html
#ErrorDocument 500 /500.html

AddType image/x-icon .ico
Options +FollowSymlinks




RewriteEngine on
RewriteRule ^js\/(.+)\.javascript$ js/handler.php?ver=$1 [L]

RewriteBase /

RewriteRule ^journal/rss/?$ journal/default.rss.php [L]

### Journal actions

RewriteCond $1 !\.php


# Just journal
RewriteRule ^journal/([^/]+)/{0,1}$ journal/journal.php?alias=$1 [L]

# Journal RSS
RewriteRule ^journal/([^/]+)/rss/?$ journal/journal.rss.php?alias=$1

# Journal pages
RewriteRule ^journal/([^/]+)/page([0-9]+)\.html$ journal/journal.php?alias=$1&from=$2

# Journal single message
RewriteRule ^journal/([^/]+)/post([0-9]+)/?$ journal/journal.php?alias=$1&id=$2


# Journal by date w/ paging

RewriteRule ^journal/([^/]+)/([0-9]{4})/?$ journal/journal.php?alias=$1&year=$2
RewriteRule ^journal/([^/]+)/([0-9]{4})/page([0-9]+).html$ journal/journal.php?alias=$1&year=$2&from=$3

RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/?$ journal/journal.php?alias=$1&year=$2&month=$3
RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/page([0-9]+).html$ journal/journal.php?alias=$1&year=$2&month=$3&from=$4

RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/([0-9]{2})/?$ journal/journal.php?alias=$1&year=$2&month=$3&day=$4
RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/([0-9]{2})/page([0-9]+).html$ journal/journal.php?alias=$1&year=$2&month=$3&day=$4&from=$5

# Journal comments
RewriteRule ^journal/([^/]+)/post([0-9]+)/comments/?$ journal/comments.php?id=$2
RewriteRule ^journal/([^/]+)/post([0-9]+)/comments/page([0-9]+).html$ journal/comments.php?id=$2&from=$3
RewriteRule ^journal/([^/]+)/post([0-9]+)/comments/rss/?$ journal/comments.rss.php?id=$2 [L]

# Tag
RewriteRule ^journal/([^/]+)/tag/([^/]+)/page([0-9]+).html$ journal/journal.php?alias=$1&tag=$2&from=$3 [L]
RewriteRule ^journal/([^/]+)/tag/(.+)$ journal/journal.php?alias=$1&tag=$2


# Journal friends
RewriteRule ^journal/([^/]+)/friends/?$ journal/friends.php?alias=$1
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/?$ journal/friends.php?alias=$1&year=$2
RewriteRule ^journal/([^/]+)/friends/page([0-9]+)\.html$ journal/friends.php?alias=$1&from=$2
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/([0-9]{1,2})/?$ journal/friends.php?alias=$1&year=$2&month=$3
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/?$ journal/friends.php?alias=$1&year=$2&month=$3&day=$4
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/([0-9]{1,2})/page([0-9]+).html$ journal/friends.php?alias=$1&year=$2&month=$3&from=$4
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/page([0-9]+).html$ journal/friends.php?alias=$1&year=$2&month=$3&day=$4&from=$5

RewriteRule ^journal/([^/]+)/friends/rss/?$ journal/friends.rss.php?alias=$1

# Journal styles
RewriteRule ^journal/css/([0-9]+)\.css$ journal/css.php?id=$1 [L]

### Forum

RewriteCond $1 !\.php
RewriteCond $1 !admin/

# Forum recent messages
RewriteRule ^forum([0-9]+)[\/]{0,1}(/page([0-9]+)\.html){0,1}$ forum/forum.php?id=$1&from=$3

# Forum thread
RewriteRule ^forum([0-9]+)/([0-9]+)[\/]{0,1}(/page([0-9]+)\.html){0,1}$ forum/thread.php?forum_id=$1&id=$2&from=$4 [L]




### Userinfo

RewriteRule ^user/([0-9]+)(/|\.html){0,1}$ info.php?id=$1 [L]
RewriteRule ^user/([^./]+)(/|\.html?){0,1}$ info.php?uid=$1 [L]


### Photo gallery

RewriteRule ^gallery([0-9]+)/?$ gallery/gallery.php?id=$1
RewriteRule ^gallery([0-9]+)/page([0-9]+).html$ gallery/gallery.php?id=$1&from=$2

RewriteRule ^gallery([0-9]+)/([0-9]+)/?$ gallery/comments.php?id=$2
RewriteRule ^gallery([0-9]+)/([0-9]+)/page([0-9]+).html$ gallery/comments.php?id=$2&from=$3[L]


RewriteRule ^gallery([0-9]+)/photo([0-9]+)\.html$ gallery/default.php?action=show&gal_id=$1&id=$2 [L]
RewriteRule ^gallery([0-9]+)/addcomment([0-9]+)\.html$ gallery/default.php?action=show&gal_id=$1&id=$2&comment=1 [L]




RewriteRule ^img/photos/small/([0-9a-zA-Z_]+\.(jpg|gif))$ img/photos/small/index.php?img=$1 [L]

RewriteRule ^photos/(.)$ photos/?search=$1 [L]



### Backward compatibility

RewriteBase /

# Tree
RewriteRule ^cgi-bin/tree_view\.pl tree? [R=301,L]

# User profile by guid
RewriteCond %{QUERY_STRING}     ^num=([a-zA-Z0-9]+)$
RewriteRule ^cgi-bin/info.pl user/%1.htm? [R=301,L]


# Forum threads page

RewriteRule ^forum([0-9]+)(.*)/([0-9]+)full\.html forum$1/$3? [R=301,L]
RewriteRule ^forum([0-9]+)/(.*)replyto([0-9]+)(_[0-9]+)*\.html forum$1/$3? [R=301,L]
RewriteRule ^forum([0-9]+)/from([0-9]+)(.*) forum$1? [R=301,L]

# 3
RewriteCond %{QUERY_STRING}     id=([0-9]+).*from=([0-9]+)
RewriteRule ^3/forum/forum\.php forum%1/page%2.html? [R=301,L]

RewriteCond %{QUERY_STRING}     id=([0-9]+)
RewriteRule ^3/forum/forum\.php forum%1? [R=301,L]


# forum/default.php
RewriteCond %{QUERY_STRING}     cath=([0-9]+).*from=([0-9]+)
RewriteRule ^forum/default\.php forum%1/page%2.html? [R=301,L]

RewriteCond %{QUERY_STRING}     cath=([0-9]+)
RewriteRule ^forum/default\.php forum%1? [R=301,L]

# Journal
RewriteCond %{QUERY_STRING}		alias=([^&]+)
RewriteRule ^3/journal/journal\.php journal/%1? [R=301,L]

#Journal friends
RewriteRule ^journal/([^/]{4,})/([0-9]{4})/([0-9]{1,2})/([0-9]{1,2})/friends.php$ journal/$1/friends/$2/$3/$4? [R=301,L]
RewriteRule ^journal/([^/]{4,})/([0-9]{4})/([0-9]{1,2})/friends.php$ journal/$1/friends/$2/$3? [R=301,L]
RewriteRule ^journal/([^/]{4,})/([0-9]{4})/friends.php$ journal/$1/friends/$2? [R=301,L]
RewriteRule ^journal/([^/]{4,})/friends.php$ journal/$1/friends? [R=301,L]

# Journal posts
RewriteRule ^journal/([^/]{4,})/([^/]+/)*post([0-9]+)\.html$ journal/$1/post$3? [R=301,L]

# Journal comments
RewriteRule ^journal/([^/]+)/comments([0-9]+).html journal/$1/post$2/comments? [R=301,L]
RewriteRule ^journal/([^/]+)/addcomment([0-9]+).html journal/$1/post$2/comments? [R=301,L]
RewriteRule ^journal/([^/]+)/post([0-9]+)/comments/comment.php journal/$1/post$2/comments? [R=301,L]
RewriteRule ^journal/([^/]+)/post([0-9]+)/comment.php journal/$1/post$2/comments? [R=301,L]

# Rating
RewriteRule ^rating/(.+)$ rating [R=301,L]
RewriteRule ^rating.html$ rating [R=301,L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]

# Telegram
RewriteRule ^t/([A-Z0-9]+)$ t/index.php?uuid=$1 [L]
