php_flag display_errors on
XBitHack off
DirectoryIndex index.html index.htm index.php default.php index.phtml default.phtml

#Errors

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
ErrorDocument 500 /500.html

AddType image/x-icon .ico
Options +FollowSymlinks




RewriteEngine on
RewriteRule ^js\/(.+)\.javascript$ js/handler.php?ver=$1 [L]

RewriteBase /


RewriteRule ^journal/rss/?$ journal/default.rss.php [L]

### Journal actions

RewriteCond $1 !\.php

# Just journal
RewriteRule ^journal/([^/]+)/{0,1}$ journal/journal.php?alias=$1

# Journal pages
RewriteRule ^journal/([^/]+)/page([0-9]+)\.html$ journal/journal.php?alias=$1&from=$2

# Journal single message
RewriteRule ^journal/([^/]+)/post([0-9]+)\.html$ journal/journal.php?alias=$1&id=$2

# Journal by date w/ paging
RewriteRule ^journal/([^/]+)/rss/?$ journal/journal.rss.php?$1
RewriteRule ^journal/([^/]+)/([0-9]{4})/?$ journal/journal.php?alias=$1&year=$2
RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/?$ journal/journal.php?alias=$1&year=$2&month=$3
RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/page([0-9]+).html$ journal/journal.php?alias=$1&year=$2&month=$3&show_from=$4
RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/([0-9]{2})/?$ journal/journal.php?alias=$1&year=$2&month=$3&day=$4
RewriteRule ^journal/([^/]+)/([0-9]{4})/page([0-9]+).html$ journal/journal.php?alias=$1&year=$2&show_from=$3
RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/page([0-9]+).html$ journal/journal.php?alias=$1&year=$2&month=$3&show_from=$4
RewriteRule ^journal/([^/]+)/([0-9]{4})/([0-9]{2})/([0-9]{2})/page([0-9]+).html$ journal/journal.php?alias=$1&year=$2&month=$3&day=$4&show_from=$5

# Journal comments
RewriteRule ^journal/([^/]+)/comments([0-9]+)\.html$ journal/comments.php?id=$2
RewriteRule ^journal/([^/]+)/comments([0-9]+)/rss/?$ journal/comments.rss.php?id=$2

# Journal comments add
RewriteRule ^journal/([^/]+)/addcomment([0-9]+)\.html$ journal/comments.php?id=$2&go=new#form

# Journal friends
RewriteRule ^journal/([^/]+)/friends/?$ journal/friends.php?$1
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/?$ journal/friends.php?$1&year=$2
RewriteRule ^journal/([^/]+)/friends/page([0-9]+)\.html$ journal/friends.php?$1&show_from=$2
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/([0-9]{2})/?$ journal/friends.php?$1&year=$2&month=$3
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/([0-9]{2})/([0-9]{2})/?$ journal/friends.php?$1&year=$2&month=$3&day=$4
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/([0-9]{2})/page([0-9]+).html$ journal/friends.php?$1&year=$2&month=$3&show_from=$4
RewriteRule ^journal/([^/]+)/friends/([0-9]{4})/([0-9]{2})/([0-9]{2})/page([0-9]+).html$ journal/friends.php?$1&year=$2&month=$3&day=$4&show_from=$5

RewriteRule ^journal/([^/]+)/friends/rss/?$ journal/friends.rss.php?$1

# Journal styles
RewriteRule ^journal/css/([^/]+)\.css$ journal/css.php?$1 [L]

### Forum

RewriteCond $1 !\.php
RewriteCond $1 !admin/

# Forum recent messages
RewriteRule ^forum([^/]+)(/from([0-9]+))?/?(search=(.+))?$ forum/default.php?cath=$1&from=$3&search=$5

# Forum add new message
RewriteRule ^forum([^/]+)/add.html(/search=(.+))?$ forum/default.php?cath=$1&go=add&search=$3

# Forum search form
RewriteRule ^forum([^/]+)/search.html$ forum/default.php?cath=$1&go=search

# Forum post reply
RewriteRule ^forum([^/]+)(/from([0-9]+))?/(replyto([0-9_]+))\.html(/search=(.+))?$ forum/default.php?cath=$1&go=add&from=$3&in=$5&search=$7

# Forum thread
RewriteRule ^forum([^/]+)(/from([0-9]+))?/(([0-9]+)(/[0-9]+)*)(full)?\.html(/search=(.+))?$ forum/default.php?cath=$1&from=$3&in=$4&thread=$7&search=$9 [L]



### Userinfo

RewriteRule ^user/([0-9a-zA-Z\-_\=]+)(.html)?$ cgi-bin/info.pl?num=$1 [L]


### Photo gallery

RewriteRule ^gallery/([0-9]+)/?$ gallery/default.php?action=gallery&id=$1 [L]
RewriteRule ^gallery/([0-9]+)/([0-9]+)\.html$ gallery/default.php?action=gallery&id=$1&fPage=$2 [L]
RewriteRule ^gallery/([0-9]+)/photo([0-9]+)\.html$ gallery/default.php?action=show&gal_id=$1&id=$2 [L]
RewriteRule ^gallery/([0-9]+)/addcomment([0-9]+)\.html$ gallery/default.php?action=show&gal_id=$1&id=$2&comment=1 [L]

