<html>
	<head>
		<script src="01.settings.js"></script>
		<script src="05.collection.class.js"></script>
		<script src="19.menu.class.js"></script>
		
		<style>
			ul, li {
				padding:0;
				margin:0;
				border:0;
			}
			ul {
				position:absolute;
			}
			li {
				position:relative;
				width:100px;
				height:20px;
				list-style:none;
				display:block;
				font: 10pt 'Arial';
				background-color:#F8F1CC;
			}

			li.Selected {
				background-color:orange;
			}

			li ul {
				left:101px;
				/*top:-1px;*/
			}
			li a {
				margin:2px;
			}
		</style>
	</head>

	<body>
		<div id="Menu"></div>

		<script>
			var div = $('Menu');
			var menu = new MenuItemsCollection(true);
			menu.Items.Add(new MenuItem(1, "/me"));
				var w = new MenuItem(2, "/wakeup");
					var w1 = new MenuItem(1, "Search...");
					w1.SubItems.Items.Add(new MenuItem(1, "A"))
					w1.SubItems.Items.Add(new MenuItem(2, "B"))
					w1.SubItems.Items.Add(new MenuItem(3, "C"))
					w1.SubItems.Items.Add(new MenuItem(4, "D"))
				w.SubItems.Items.Add(w1);
				w.SubItems.Items.Add(new MenuItem(2, "Cancel"));
				menu.Items.Add(w);
			menu.Items.Add(new MenuItem(3, "/away"));
			menu.Items.Add(new MenuItem(4, "/status"));
				var t = new MenuItem(5, "/topic");
				t.SubItems.Items.Add(new MenuItem(1, "/lock topic"))
				t.SubItems.Items.Add(new MenuItem(2, "/unlock topic"))
				menu.Items.Add(t);
			menu.Items.Add(new MenuItem(6, "/quit"));

			menu.Create(div);
		</script>
	</body>
</html>