<!-- Index page -->

.Register .char1 {
	margin-left: 3px;
}
.Register .char2 {
	margin-left: -4px;
}
.Register .char6 {
	margin-left: -4px;
}
.Register .char7 {
	margin-left: -3px;
}
.Register .char8 {
	margin-left: -2px;
}
.Register .char10 {
	margin-left: -2px;
}
.Register .char11 {
	margin-left: -1px;
}


.Forum h4 {
	font-size: 50px;
}

.Forum .char2 {
	margin-left: -3px;
}
.Forum .char3 {
	margin-left: -2px;
}
.Forum .char4 {
	margin-left: -2px;
}
.Forum .char5 {
	margin-left: -1px;
}


.Gallery .char2 {
	margin-left: -2px;
}
.Gallery .char3 {
	margin-left: -2px;
}
.Gallery .char4 {
	margin-left: -2px;
}
.Gallery .char6 {
	margin-left: -4px;
}
.Gallery .char9 {
	margin-left: -2px;
}
.Gallery .char10 {
	margin-left: -1px;
}
.Gallery .char11 {
	margin-left: -1px;
}


.Blogs .char2 {
	margin-left: -2px;
}
.Blogs .char3 {
	margin-left: -2px;
}
.Blogs .char5 {
	margin-left: -1px;
}
.Blogs .char10 {
	margin-left: -3px;
}
.Blogs .char11 {
	margin-left: -1px;
}
